{% extends "ask_zinovyev_app/layout.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    <title>{{ question.title }}</title>
{% endblock %}

{% block content %}
    <br><br>
    {% include "ask_zinovyev_app/question-template.html" %}
    <br>

    {% if object_list %}
        {% bootstrap_pagination page_obj %}
        <br>

        {% for answer in object_list %}
            {% include "ask_zinovyev_app/answer-template.html" %}
        {% endfor %}
        <br>
    {% endif %}

    <form action="{% url "ask_zinovyev_app/answer" question_id=question.pk %}" method="post">
        {% csrf_token %}
        <textarea class="form-control" name="description" rows="10" placeholder="Ваш ответ..."></textarea><br>
        <button type="submit" class="btn btn-success">Ответить</button>
    </form>

{% endblock %}