{% load static %}

<div class="container">
    <div class="row border border-gray">
        <div class="col-md-2">
            <div class="text-center">
                <img class="rounded-circle center-block" src="{% static "img/question.png" %}"><br>
            </div>
            {% include "ask_zinovyev_app/rating-template.html" %}
        </div>
        <div class="col-offset-md-2 col-md-8">
            <b>Ответ от:</b> Никнейм&emsp;<b>Дата:</b> 01.01.2000<br>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="correct-answer">
                <label class="form-check-label" for="correct-answer"><b>Верный ответ</b></label>
            </div>
        </div>
    </div>
</div>