{% load static %}

<div class="container">
    <div class="row border border-gray">
        <div class="col-md-2">
            <br>
            <div class="text-center">
                <img class="rounded-circle center-block" src="{% static "ask_zinovyev_app/img/question.jpg" %}" style="height:50px"><br>
            </div>
            <br>
            {% with rating_value=answer.rating %}
                {% include "ask_zinovyev_app/rating-template.html" %}
            {% endwith %}
            <br>
        </div>
        <div class="col-offset-md-2 col-md-8">
            <br>
            <b>Ответил:</b> {{ answer.user.username }}&emsp;<b>Дата:</b> {{ answer.date_time_added }}
            <br><br>
            {{ answer.description }}
            <br>
            <div class="form-check">
                {% if answer.is_correct %}
                    <input class="form-check-input" type="checkbox" value="" id="correct-answer">
                    <label class="form-check-label" for="correct-answer"><b>Верный ответ</b></label>
                {% endif %}
            </div>
        </div>
    </div>
</div>