{% load bootstrap4 %}
{% load font_awesome %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}
    {% fa_css %}

    <link rel="stylesheet" href="{% static "ask_zinovyev_app/css/layout.css" %}">
    <link rel="shortcut icon" href="{% static "ask_zinovyev_app/img/question.jpg" %}"/>

    {% block title %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="{% url "ask_zinovyev_app/index" %}"><h1>Ask-Zinovyev</h1></a>
            <form class="form-inline">
                <span>
                    <input class="form-control mr-sm-4" type="search" placeholder="Поиск..." aria-label="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                </span>
            </form>

            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-menu-button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.avatar %}
                            <img class="rounded-circle user-avatar-small" src="{{ user.avatar.url }}">
                        {% else %}
                            <img class="rounded-circle user-avatar-small" src="{% static "ask_zinovyev_app/img/question.jpg" %}">
                        {% endif %}
                        <b>{{ user.username }}</b>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown-menu-button">
                        <a class="dropdown-item" href="{% url "ask_zinovyev_app/ask" %}">Новый вопрос</a>
                        <a class="dropdown-item" href="{% url "ask_zinovyev_app/edit_profile" %}">Настройки</a>
                        <a class="dropdown-item" href="{% url "ask_zinovyev_app/sign_out" %}">Выход</a>
                    </div>
                </div>
            {% else %}
                <span>
                    <a href="{% url "ask_zinovyev_app/sign_in" %}">
                        <button class="btn btn-info">Вход</button>
                    </a>

                    <a href="{% url "ask_zinovyev_app/sign_up" %}">
                        <button class="btn btn-info">Регистрация</button>
                    </a>
                </span>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <h2>Популярные теги</h2>
                {% lorem %}
                <h2>Лучшие пользователи</h2>
                {% lorem %}
            </div>
        </div>
    </div>

    <footer class="page-footer font-small pt-4 mt-4">
        <div class="container">
            <b>&copy; Денис Зиновьев, 2018</b>
        </div>
    </footer>

    {% bootstrap_javascript jquery="slim" %}
</body>
</html>