{% load static %}

<div class="container">
    <div class="row border border-dark">
        <div class="col-md-2">
            <br>
            <div class="text-center">
                {% if question.author.avatar %}
                    <img class="rounded-circle center-block" style="height:50px"
                        src="{{ question.author.avatar.url }}"><br>
                {% endif %}
            </div>
            <br>
            {% include "ask_zinovyev_app/rating-template.html" %}
            <br>
        </div>
        <div class="col-offset-md-2 col-md-8">
            <br>
            <a href="#"><h4>{{ question.title }}</h4></a>
            <b>Добавил:</b> {{ question.author.username }}&emsp;<b>Дата:</b> {{ question.date_time_added }}<br><br>
                {{ question.description }}
            <br><br>
            <b>Всего ответов: -</b>&emsp;<b>Теги:</b>
            {% for tag in question.tags.all %}
                <a href="#">{{ tag }}</a>
            {% empty %}
                -
            {% endfor %}
            <br><br>
        </div>
    </div>
</div>