{% load static %}

<div class="container">
    <div class="row border border-dark">
        <div class="col-md-2">
            <div class="text-center">
                <img class="rounded-circle center-block" src="{% static "img/question.png" %}"><br>
            </div>
            {% include "ask_zinovyev_app/rating-template.html" %}
        </div>
        <div class="col-offset-md-2 col-md-8">
            <a href="#"><h4>Как написать диплом за 2 дня?</h4></a>
            <b>Добавил:</b> Никнейм&emsp;<b>Дата:</b> 01.01.2000<br><br>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            <br><br>
            <b>Всего ответов: 3</b>&emsp;<b>Теги:</b>
            <a href="#">Учёба</a>
            <a href="#">Диплом</a>
        </div>
    </div>
</div>