{% extends "ask_zinovyev_app/layout.html" %}
{% load static %}

{% block title %}
    <title>{{ question.title }}</title>
{% endblock %}

{% block content %}
    <br><br>
    {% include "ask_zinovyev_app/question-template.html" %}
    <hr>

    {% for answer in answers %}
        {% include "ask_zinovyev_app/answer-template.html" %}<br>
    {% endfor %}

    <form action="{% url "ask_zinovyev_app/answer" question_id=question.pk %}" method="post">
        {% csrf_token %}
        <textarea class="form-control" name="description" rows="10" placeholder="Ваш ответ..."></textarea><br>
        <button type="submit" class="btn btn-success">Ответить</button>
    </form>

{% endblock %}