{% extends "ask_zinovyev_app/layout.html" %}
{% load static %}

{% block title %}
    <title>Настройки</title>
{% endblock %}

{% block content %}
    <h2>Настройки: Имя-пользователя</h2><br>

    {% with label_col_width="3" item_col_width="5" %}
        <form>
            {% include "ask_zinovyev_app/user-info-form-text-input-template.html" with field_id="user-email" label_text="Email" input_type="email" %}
            {% include "ask_zinovyev_app/user-info-form-text-input-template.html" with field_id="user-nickname" label_text="Псевдоним" input_type="text" %}
            {% include "ask_zinovyev_app/user-info-form-avatar-template.html" %}
            {% include "ask_zinovyev_app/user-info-form-text-input-template.html" with field_id="user-avatar" label_text="Аватар" input_type="file" %}
            {% include "ask_zinovyev_app/user-info-form-button-template.html" with button_id="save-changes" button_text="Сохранить изменения" %}
        </form>
    {% endwith %}
    <br>
{% endblock %}