### PyCharm ###
.idea

### VirtualEnv ###
venv

### Python ###
__pycache__
*.pyc

### Database ###
migrations
!migrations/__init__.py

### Static Files ###
/uploads/
/static/

### Nginx ###
nginx.log

### Settings ###
local_settings.py
